body {
  font-family: Mukta;
}

.container {
  background: radial-gradient(circle at 10% 20%, rgb(134, 47, 199) 0%, rgb(235, 56, 137) 90%);
  border: 1px solid rgb(134, 47, 199);
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}

.preset {
  display: inline;
  font-weight: 500;
  list-style-type: none;
  text-align: center;
  text-decoration: none;
}

li#presets {
  color: bisque;
  display: inline;
  margin: 0 25px;
}

#search-box {
  border: none;
  border-radius: 4px;
}

#update {
  color: #fff;
  background-color: orange;
  border: none;
  border-radius: 4px;
  padding: 1px 10px;
}

#update:hover {
  color: #8F2FC1;
}

.btn {
  color: #fff;
  background-color: orange;
  line-height: 12px;
}

.btn:hover {
  color: #8F2FC1;
  background-color: orange;
}

.main-weather {
  background-color: white;
  border-radius: 5px;
  margin: 10px 0 0 0;
  padding: 10px 0 2px 10px;
}

h1 {
  color: orange;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: -10px;
}

.date, #date {
  color: rgba(39,33,66,.4);
  font-size: 18px;
  font-weight: 600;
  margin-top: -10px;
  margin-left: 3px;
}

ul.current-conditions {
  padding: 0 0 0 3px;
}

li.current-conditions {
  color: rgba(39,33,66,.4);
  font-size: 14px;
  font-weight: 600;
  list-style: none;
  text-transform: capitalize;
}

.now-temp {
padding-top: 25px;
text-align: center;
}

#icon {
  font-size: 60px;
}

#temperature {
  color: #8F2FC1;
  font-size: 80px;
  font-weight: 600;
}

.units {
  color: #8F2FC1;
  position: relative;
  top: -40px;
}

a {
  background-color: transparent;
  color: #8F2FC1;
  text-decoration: none;
}

a.active {
  color: orange;
}

a:hover {
  color: #8F2FC1;
}

.forecast {
  text-align: center;
  margin-left: 13px;
}

.forecast-date {
  font-size: 15px;
  opacity: 0.6;
}

.forecast-temp {
  font-size: 14px;
}

.forecast-temp-min {
  opacity: 0.5;
}

.col-2 {
  width: 90px;
  background: papayawhip;
  border-radius: 5px;
  margin: 10px 5px 6px 0;
}

footer {
  color: #fff;
  margin: 8px 0 -8px 0;
  text-align: center;
}

.foot-link {
  color: orange;
}

.foot-link:hover {
  color: bisque;
}